{% set bootloader_grub_kernel_parameters = bootloader_grub_kernel_parameters_generic + bootloader_kernel_parameters_console + bootloader_kernel_parameters_custom + bootloader_kernel_parameters_hugepages + bootloader_kernel_parameters_mitigations -%}
GRUB_DEFAULT={{ bootloader_grub_default }}
GRUB_TIMEOUT_STYLE={{ bootloader_grub_timeout_style_hidden | ternary("hidden", "menu") }}
GRUB_TIMEOUT={{ bootloader_grub_timeout }}
GRUB_DISTRIBUTOR={{ bootloader_grub_distributor }}
GRUB_CMDLINE_LINUX_DEFAULT="{{ bootloader_grub_cmdline_linux_default }}"
GRUB_CMDLINE_LINUX="{{ bootloader_grub_kernel_parameters | join(" ") }}"
{% if bootloader_xen_kernel_parameters_custom %}
GRUB_CMDLINE_XEN="{{ bootloader_xen_kernel_parameters_custom | join(" ") }}"
{% endif %}
GRUB_TERMINAL="{{ bootloader_grub_terminal }}"
{% if bootloader_serial_console %}
GRUB_SERIAL_COMMAND="{{ bootloader_grub_serial_command }}"
{% endif %}
GRUB_DISABLE_SUBMENU="{{ bootloader_grub_disable_submenu | ternary("y", "n") }}"
GRUB_DISABLE_OS_PROBER="{{ bootloader_grub_disable_os_prober | ternary("true", "false") }}"
GRUB_DISABLE_RECOVERY="{{ bootloader_grub_disable_recovery | ternary("true", "false") }}"
